.previewPanel {
  width: 100%;
  height: 100%;
  border: 1px solid #e5e7eb;
  overflow: hidden;
  background-color: #030712;
  .iframe {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
  }
}
