@keyframes chatBarSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chatBar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  .input {
    width: 100%;
    max-width: 100%;
  }
  .sendButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .icon {
    width: 1rem;
    height: 1rem;
  }
  .spin {
    animation: chatBarSpin 1s linear infinite;
  }
}
